.cadastro {
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #48d1cc;
  padding: 1rem;
  border-radius: 0 4px 0 0;
  cursor: pointer;
  transition: box-shadow 500ms linear;
}

#cancelar {
  border-radius: 4px;
}

.cadastro:hover {
  box-shadow: inset 200px 0 0 #00000030;
}

.button {
  border-style: none;
  height: 2.5rem;
  padding: 6px 12px;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow 0.6s ease;
}

button.green {
  background-color: #13ce66;
  border-radius: 4px;
}

button.red {
  background-color: #ff4949;
  border-radius: 4px;
}

.button:hover {
  box-shadow: inset 200px 0 0 #00000055;
}

@media (max-width: 480px) {
  .button.mobile {
    color: transparent;
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 90vh;
    left: 80vw;
  }
  .button.mobile::before {
    content: "+";
    color: black;
    font-size: 2rem;
    width: 100%;
    height: 100%;
  }
}
