* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffba30;
  --secundary-color: #fff1cc;
  --tertiary-color: rgb(255, 240, 90);
  --shadow-color: #c0c0c0;
  --text-color: #fff;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  position: relative;
}

.titulo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  background-color: var(--primary-color);
  margin-bottom: 2rem;
}

.titulo {
  color: black;
  font-size: 2rem;
  margin-left: 1rem;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 3.5rem auto;
  box-shadow: 4px 4px 10px 6px var(--shadow-color);
  background-color: var(--tertiary-color);
  border-radius: 4px;
}

footer {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  padding: 1rem;
}
