.table-container {
  width: 100%;
  padding-bottom: 1rem;
  user-select: none;
  text-align: left;
}

.table-container th {
  height: 3.5rem;
  background-color: var(--primary-color);
  padding-left: 1.2rem;
  font-size: 1.2rem;
}
.table-container td {
  height: 3rem;
  padding-left: 1.2rem;
}

.table-container th:last-child,
.table-container td:last-child {
  padding: 0;
  min-width: 140px;
  text-align: center;
}

td:last-child {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

td button {
  width: 100%;
}

.table-container tr:hover {
  background-color: rgb(255, 240, 170);
}
